[Unit]
Description=OpenStack Image Service (code-named Glance) Registry server
After=syslog.target network.target

[Service]
Type=simple
User=glance
ExecStart=/usr/bin/glance-registry --config-file /usr/share/glance/glance-registry-dist.conf --config-file /etc/glance/glance-registry.conf
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target

